* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

html {
    background: linear-gradient(rgb(129, 115, 115),grey);
}

.atas {
    margin-top: 100px;
    text-align: center;
}
.atas img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.identity {
    color: black;
    margin-top: 25px;
    text-align: center;
}

.bawah {
    margin-top: 50px;
    text-align: center;
}

.bawah p {
    color: black;
    text-align: center;
}

.media {
    margin-top: 50px;
    text-align: center;
}

.media img {
    max-width: 50px;
    text-decoration: none;
}
