{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Story 4 Nofaldi</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'story4/style.css' %}">
    </head>
    <body>
        <header>
            <div class="headerdrop">
                <img class="logo" src="{% static 'style/moon.png'%}">
                <nav>
                    <ul class="nav-list">
                        <li><a href="/story3">STORY 3</a></li>
                        <li><a href="/story1">STORY 1</a></li>
                        <li><a href="/story3extra">STORY 3 EXTRA</a></li>
                    </ul>
                </nav>
                <a class="button"><button>CONTACT</button></a>
                <button type="button" class="button" data-toggle="modal" data-target="#exampleModal">
                    Click Here
                </button>
            </div>
        </header>
    </body>
</html>