{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'story3/style.css' %}">
    </head>
    <body>
        {% include 'stry4/main.html' %}
        <table class="spideytab">
            <tr>
                <td><img src="{% static 'story3/picture/spidy1.jpg' %}"></td>
                <td><img src="{% static 'story3/picture/spidy1.jpg' %}"></td>
                <td><img src="{% static 'story3/picture/spidy1.jpg' %}""></td>
            </tr>
            <tr>
                <td><img src="{% static 'story3/picture/spidy1.jpg' %}""></td>
                <td><img src="{% static 'story3/picture/spidy1.jpg' %}""></td>
                <td><img src="{% static 'story3/picture/spidy1.jpg' %}""></td>
            </tr>
            <tr>
                <td><img src="{% static 'story3/picture/spidy1.jpg' %}""></td>
                <td><img src="{% static 'story3/picture/spidy1.jpg' %}""></td>
                <td><img src="{% static 'story3/picture/spidy1.jpg' %}""></td>
            </tr>
        </table>
    </body>
</html>