{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>My Profile 2.0</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'story3/style.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>
    <body>
        {% include 'stry4/main.html' %}
        <div class="main-1">
            <div class="main-type">
                <h1 class="moving"></h1>
                <script type="text/javascript" src="{% static 'story3/typed.js' %}"></script>
                <script type="text/javascript">
                    var typed = new Typed('.moving', {
                        strings: ['HELLO I AM NOFALDI', 'I CANT CONTROL THE SPEED','SO SORRY :('],
                        smartBackspace: true // Default value
                    });
                </script>
                <h2>WELCOME TO MY WEBSITE</h2>
                <h2>--------</h2>
            </div>  
            <div class="foto">
                <img src="{% static 'story3/picture/profil.jpg' %}">
            </div>
            <div class="arrow">
                <a href="#midstory"><img src="{% static 'story3/picture/arrow.png' %}"></a>
            </div>
        </div>
        <div class="mid-story" id="midstory">
            <div class="bio-1">
                <div class="bio-1-left">
                    <img src="{% static 'story3/picture/jakarta.jpg' %}">
                </div>
                <div class="bio-1-right">
                    <p>I was born in jakarta 28 july 2001, 
                        i am now a computer science student 
                        at universiry of indonesia. I love to code
                        and sleeping. 
                    </p>
                </div>
            </div>
            <div class="bio-2">
                <div class="bio-2-right">
                    <p>“when lazyness come to me
                        that is the time i serve my console and pc”
                        -not me 
                    </p>
                </div>
                <div class="bio-2-left">
                    <img src="{% static 'story3/picture/old-llop.jpg' %}">
                </div>
            </div>
        </div>
        <div class="mid-story-2">
            <div class="box-1">
                <img src="{% static 'story3/picture/Makara_UI.png' %}">
                <h1>University Of indonesia</h1>
            </div>
            <div class="box-1">
                <img src="{% static 'story3/picture/unnamed.png' %}">
                <h1>SMAN 2 Cirebon</h1>
            </div>
            <div class="box-1">
                <img src="{% static 'story3/picture/download.jfif' %}">
                <h1>SMPN 1 Cirebon</h1>
            </div>
        </div>
        <div class="mid-story-3">
            <div class="isi-story-3-1">
                <img src="{% static 'story3/picture/iamokay.png' %}">
                <p>INFORMATION TECHNOLOGY DEVOLOPER</p>
                <p>I AM OKAY</p>
            </div>
            <div class="isi-story-3-1">
                <img src=" {% static 'story3/picture/pemira.png' %}">
                <p>VERIFICATION AND SUPERVISION STAFF</p>
                <p>PEMIRA</p>
            </div>
            <div class="isi-story-3-1">
                <img src="{% static 'story3/picture/perak.jfif' %}">
                <p>EVENT STAFF</p>
                <p>PERAK</p>
            </div>
        </div>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">SUM MEME</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img class="d-block w-100" src="{% static 'story3/picture/spidy1.jpg' %}" alt="First slide">
                          </div>
                          <div class="carousel-item">
                            <img class="d-block w-100" src="{% static 'story3/picture/spidy2.jpg' %}" alt="Second slide">
                          </div>
                          <div class="carousel-item">
                            <img class="d-block w-100" src="{% static 'story3/picture/spidy3.jpg' %}" alt="Third slide">
                          </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">I know its random</button>
                </div>
              </div>
            </div>
    </body>
</html>