html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.headerdrop li, a, button {
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.headerdrop {
    background: rgb(251,176,63);
    background: radial-gradient(circle, rgba(251,176,63,1) 0%, rgba(239,73,88,1) 100%);
    border-radius: 30px;
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

.headerdrop img {
    width: 50px;
    height: 50px;
}

.logo {
    cursor: pointer;
}

.nav-list {
    list-style: none;
}

.nav-list li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-list li a {
    transition: all 0.8s ease;
    color: white;
}

.headerdrop button {
    padding: 9px 25px;
    background-color: rgb(248, 163, 6);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.8s ease;
}