{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'story1/style2.css' %}">
        <title>Story 1 PPW</title>
    </head>
    <body>
        {% include 'stry4/main.html' %}
        <div class="atas">
            <img src="{% static 'story1/foto/foto.jpg' %}" id="foto">
            <div class="identity">
                <h2>Nofaldi Fikrul Atmam</h2>
                <h2>Undergraduate Computer Science Student at University of Indonesia</h2>
                <h2>1906398420</h2>
                <h2>Maung - 2019</h2>
            </div>
        </div>
        <div class="bawah">
            <p>I am an undergraduate computer science student at University of Indonesia, I used to study Junior High School at SMPN 1 Cirebon
                and study Senior High School at SMAN 1 Cirebon, I like playing game a lot and i love to read books, also i like to help other
                people in need.
            </p>
        </div>
        <div class="media">
            <a href="https://twitter.com/elonmusk?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><img src="{% static 'story1/foto/twitter.png' %}"></a>    
            <a href="https://www.facebook.com/groups/ElonMusk/"><img src="{% static 'story1/foto/facebook.png' %}"></a>    
            <a href="https://www.instagram.com/elonmusk/?hl=en"><img src="{% static 'story1/foto/instagram.png' %}"></a>      
        </div>
    </body>
</html>